@model IEnumerable<MVCProject.Models.ViewModels.AccountTableViewModels>

@{
    //ViewBag.Title = "AccountTable";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <td>#</td>
                <td>類別</td>
                <td>日期</td>
                <td>金額</td>
            </tr>
            @{
                int rowCount = 1;
                foreach (var accountData in Model)
                {
                    <tr>
                        <td>@(rowCount++)</td>
                        <td>@(accountData.Category)</td>
                        <td>@(accountData.Date.ToString("yyyy-MM-dd"))</td>
                        <td>@(accountData.Amount.ToString("N0"))</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>